<div class="tx-macinasearchbox-pi1">
	<form action="home/site2/" method="post" name="searchform" id="searchform" style="margin:0px; padding:0px; ">
		<input type="text" name="tx_indexedsearch[sword]" style="width:130px; margin-right:5px;" class="formfieldInput"><input type="submit" name="tx_indexedsearch[submit_button]" value="Suchen" class="formfieldSubmit">
		<input type="hidden" name="tx_indexedsearch[_sections]" value="0">
		<input type="hidden" name="tx_indexedsearch[pointer]" value="0">
		<input type="hidden" name="tx_indexedsearch[ext]" value="0">
		<input type="hidden" name="tx_indexedsearch[lang]" value="0">
	</form>
</div>