/*
#--------------------------------------------------#
#	Title:			[File-Title]
#--------------------------------------------------#
#	File-Type:		[File-Type]
#	Description:	[Description]
#	Project:		[Projectname]
# 
#	Author:			Janik von Rotz
#	Author E-Mail:	contact@janikvonrotz.ch
#
#	Create Date:	dd.mm.yyyy hh.mm
#	Last Edit Date:	dd.mm.yyyy hh.mm
#	Version:		0.0.0
#--------------------------------------------------#
*/

body {
	text-align:center;
	font-family:Arial,sans-serif;
	font-size: 14px;
}

.main {
	margin:auto;
	text-align:left;
	padding-left: 50px;
	padding-right: 50px;
}

.logo {
	
}

.header {

}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

.teaser{
	margin:10px 0;
}

.menu_nav {
	
}

.content {

}

.content .mainbar {
	float:left;
	margin:10px 0;
}

.content .mainbar .article {

}

.content .sidebar {
	width: 221px;
	float:right;
	margin:10px 0;
}

.bottombar {	
	margin:10px 0;
	width:100%;
	border-bottom: 1px solid black;
}

.footer {
}

.footer .lf {
	float:left;
}

.footer .rf {
	float:right;
}

.box_orange {  
	background-color :#FEF3DE;  
	border : 1px #F8B323 solid;  
	padding : 5px;  
	margin : 0;  
}  
.box_blue {  
	background-color :#C1E3FF;  
	border : 1px #005191 solid;  
	padding : 5px name="code";  
	color: #005191;  
}  