<!--
#--------------------------------------------------#
#    Title: [File-Title]
#--------------------------------------------------#
#    File-Type: [File-Type]
#    Description: [Description]
#    Project: [Projectname]
# 
#    Author: Janik von Rotz
#    Author E-Mail: contact@janikvonrotz.ch
#
#    Create Date: dd.mm.yyyy hh.mm
#    Last Edit Date: dd.mm.yyyy hh.mm
#    Version: 0.0.00
#--------------------------------------------------#
-->

<html>
	
	<!--###DOCUMENT###-->
	
	<body>
		
	<div class="main">
		<div class="header">
			<div class="logo">
		  
				<!-- ###LOGO### -->
				LOGO
				<!-- ###LOGO### -->
		  
		  
				<!-- ###HEADER### -->
				<h1>HEADER</h1>
				<!-- ###HEADER### -->
				
				<!-- ###LANGUAGE### -->
				LANGUAGE
				<!-- ###LANGUAGE### -->
				
			</div>
			
			<div class="menu_nav">

			<!-- ###NAVIGATION### -->	
			NAVIGATION
			<!-- ###NAVIGATION### -->	

			</div>

		</div>
		
		<!--TYPO3SEARCH_begin-->

		<div class="content">
			<div class="teaser">
				<!-- ###TEASER### -->
				TEASER
				<!-- ###TEASER### -->
			</div>
			
			<div class="clr"></div>
			
			<div class="mainbar">
				<div class="article">

					<!-- ###CONTENT_CENTER### -->
					CONTENT_CENTER
					<!-- ###CONTENT_CENTER### -->

				</div>     
			</div>
			<div class="sidebar">
			
				<!-- ###SEARCH### -->
				SEARCH
				<!-- ###SEARCH### -->
				
				<!-- ###SIDEBAR### -->
				SIDEBAR
				<!-- ###SIDEBAR### -->

			</div>
		</div>
		
		<div class="clr"></div>
		
		<div class="bottombar">

			<!-- ###FOOTER### -->
			FOOTER
			<!-- ###FOOTER### -->
				  
		</div>

	</div>
	</body>

	<!–-TYPO3SEARCH_end-–>
	<!--###DOCUMENT###-->

</html>